<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessorInterface">
        <plugin name="ecommerce121_orderprotection_layout_processor" type="Ecommerce121\OrderProtection\Plugin\Checkout\LayoutProcessorPlugin" />
    </type>
</config>
